@import "include/variables";
@import "include/mixins";

html,
body {
    margin: 0;
    height: 100%;
    background-color: $page-background-color;
    @include main-font(24px, 300);
    color: $text-color;

    @include phone-portrait {
        @include main-font(20px, 300);
    }
}

a {
    color: $link-color;
    text-decoration: none;
    transition: opacity .2s ease-in-out;

    &:hover {
        opacity: .7;

        @include phone {
            opacity: 1;
        }    
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: $header-background-color;

    @include phone-portrait {
        height: 200px;
    }

    & .logo {
        width: 350px;
        height: 100px;
        background: url(../img/logo-color-dark-bg.svg) no-repeat center center;

        @include phone-portrait {
            width: 260px;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;

    @include phone-portrait {
        padding: 40px 20px;
    }

    & .row {
        display: flex;
        width: 840px;

        @include phone-portrait {
            width: 100%;
            flex-direction: column;
        }

        & .col {
            flex: 1;
            height: 120px;
            margin: 0 20px;
            border-bottom: 3px solid $border-color;

            @include phone-portrait {
                margin: 0;
            }

            & .container-with-icon {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 30px;
                box-sizing: border-box;

                & .icon {
                    margin-right: 20px;
                    width: 64px;
                    height: 64px;
                    box-sizing: border-box;
                    border: 3px solid $icon-border-color;
                    border-radius: 2px;

                    &.imobiliare {
                        background: url(../img/icon-imobiliare.svg) no-repeat center center;
                    }

                    &.youtube {
                        background: url(../img/icon-youtube.svg) no-repeat center center;
                    }

                    &.facebook {
                        background: url(../img/icon-facebook.svg) no-repeat center center;
                    }

                    &.email {
                        background: url(../img/icon-email.svg) no-repeat center center;
                    }

                    &.phone {
                        background: url(../img/icon-phone.svg) no-repeat center center;
                    }

                    &.whatsapp {
                        background: url(../img/icon-whatsapp.svg) no-repeat center center;
                    }

                    &.telegram {
                        background: url(../img/icon-telegram.svg) no-repeat center center;
                    }
                }
            }

            &:only-child {
                & .text {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        &:first-child {
            & .col {
                border-top: 3px solid $border-color;                
            }
        }

        &.phone-row {
            margin-top: 40px;
            border: none;
    
            & .col {
                background-color: $phone-container-background-color;
                border-radius: 2px;

                & .container-with-icon {
                    padding-right: 262px;
                    align-items: flex-start;

                    @include phone-portrait {
                        flex-direction: column-reverse;
                        padding-right: 30px;
                    }

                    & .icons-container {
                        display: flex;

                        @include phone-portrait {
                            margin-top: 20px;
                            width: 100%;
                            justify-content: center;
                        }
                    }
            
                    & .icon {
                        &.phone,
                        &.whatsapp {
                            margin-right: 10px;
                        }

                        &.telegram {
                            @include phone-portrait {
                                margin-right: 0;
                            }
                        }
                    }
            
                    & .text {
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        height: 64px;

                        @include phone-portrait {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}