$smartphones-width: 320px;
$smartphones-p-width: 568px;
$tablet-width: 768px;
$desktop-width: 1170px;

// Portrait and Landscape
@mixin phone {
  @media (min-width: #{$smartphones-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

// Portrait
@mixin phone-portrait {
  @media (min-width: #{$smartphones-width}) and (max-width: #{$smartphones-p-width - 1px}) and (orientation: portrait) {
    @content;
  }
}

// Landscape
@mixin phone-landscape {
  @media (min-width: #{$smartphones-width}) and (max-width: #{$smartphones-p-width - 1px}) and (orientation: landscape) {
    @content;
  }
}

//* ----------- iPhone 5 and 5S ----------- *//

// Portrait
@mixin phone-retina-portrait {
  @media (min-width: #{$smartphones-width}) and (max-width: #{$smartphones-p-width - 1px}) and (-webkit-min-device-pixel-ratio: 2) and  (orientation: portrait) {
    @content;
  }
}

//* ----------- Tablets ----------- *//
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
